#qrcode_open{
    padding-left: 220px;
    /* align: center; */

}
#qrcode_open2{
    padding-left: 220px;
    /* align: center; */

}
#bawahtanah{
    font-size: 8px;
    padding-right: 284px;
    /* align: center; */
}
