
.statusbulet {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    float: center;
    margin: 0px auto !important;
    border: 2px solid black
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}

@font-face {
  font-family: Oswald-Medium;
  src: url('../fonts/oswald/Oswald-Medium.ttf'); 
}


 body, html {
  height:100%;
    background: #FFFFFF;
    overflow-x: hidden;
    font-family: 'JosefinSans-Bold', sans-serif;

}
a {
    font-family: JosefinSans-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: JosefinSans-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}


ul, li {
    margin: 0px;
    list-style-type: none;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}


btn  {
    border-radius: 0;


  
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0;
  border-radius: 0

}


.btn-larger {
    padding: 15px 40px !important;
    border:0px solid  #000!important;;
    border-radius: 2px !important;;
    text-transform: uppercase;
    font-family: 'Courier', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    background-color: #57b846;
 
    transition: all .6s;
  

}
.btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
    /*border-color: #FFF;*/
    color: #fff;
    background-color:  #000;
  border-radius: 10
  border: 4px solid #57b846;
}
.btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
    background-image: BLUE;
}
.btn-larger.disabled, .btn-larger[disabled], fieldset[disabled] .btn-larger, .btn-larger.disabled:hover, .btn-larger[disabled]:hover, fieldset[disabled] . btn-larger:hover, .btn-larger.disabled:focus, .btn-larger[disabled]:focus, fieldset[disabled] .btn-larger:focus, .btn-larger.disabled:active, .btn-larger[disabled]:active, fieldset[disabled] .btn-larger:active, .btn-larger.disabled.active, .btn-larger[disabled].active, fieldset[disabled] .btn-larger.active {
    border-color: #57b846;
    background-color: #57b846;
}
.btn-larger .badge {
    color: #57b846;
    background-color: #fff;
}

div#form {
    color: #fff;
    background-attachment: scroll;
    background: #000/*MENGGANTI BACKGROUND BISA MENGGUNAKAN*/
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    
  min-height:100%;

}

#userform ul {
    list-style-type: none;
    padding: 5;
    margin-bottom: 0px;
}
#userform {
    background: #000/*WARNA BOXNYA*/;
    margin: 0px 0 20px 0
}
 @media (min-width: 768px) {
#userform {
  color: black;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 55px 100px 55px;
    /*margin: 150px 0 0 0;*/
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 1);
 /* -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
 */   
}
}
#userform .nav-tabs.nav-justified > li > a {
    text-transform: uppercase;
    font-size: 15px;
    color: 000;
    border: 10px solid #000;
    /*background-color: rgba(90,90,90,0.5);*/
}
#userform .nav-tabs.nav-justified 
> .active 
> a, #userform .nav-tabs.nav-justified 
> .active > a:hover, #userform .nav-tabs.nav-justified 
> .active > a:focus {
    display: block;
  font-family: JosefinSans-Bold;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  background-color: #57b846;
  
  
 
 
}
#userform .nav-justified > li > a {
    margin-bottom: 0;
    transition: all .6s;
}
#userform .nav-justified > li > a:hover {
    background: #000;
    color: #000;
}
#userform .nav-tabs > li > a {
    border: 1px solid #fff;
    border-radius: 10px;
}
#userform .nav-tabs.nav-justified > li > a:hover {
    background: #57b846;
    color: #000;
    border-radius: 10px;
    border: 1px solid 000;
    transition: all .6s;
}
#userform .nav-tabs > li.active > a, #userform .nav-tabs > li.active > a:hover, #userform .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: transparent;
    border: 0;
    transition: all .6s;
}
 @media (min-width: 768px) {
#userform .nav-tabs.nav-justified > li > a {
    border: 0;
    transition: all .6s;
}
#userform .nav-tabs.nav-justified > li > a:hover {
    /*background-color: #57b846;*/
    border-color: #000;
    border: 0;
    transition: all .6s;
}
}
 @media (max-width: 768px) {
.nav-justified > li {
    display: table-cell !important;
    width: 1% !important;
}
}
#userform .nav-tabs {
    border-bottom: 0px solid #fff;
}
#userform .tab-pane h2 {
    margin: 10px 0;
    color: #000;
}
#userform .tab-pane p.lead {
    margin-top: 20px;
}
#userform .tab-content {
    padding: 20px
}
#userform .form-group {
    margin-bottom: 10px;
    color: #000;
    border: 1px solid #000;
}
#userform .form-group input, #userform .form-group textarea {
    padding: 10px;
}
#userform .form-group input.form-control {
    height: auto;
    background-color:#fff;
    color: #000;
}
#userform .form-control {
    border-radius: 0;
    border: 1px solid #fff;
}
#userform .form-control:focus {
    border-color: #000;
    box-shadow: none;
}
 #userform::-webkit-input-placeholder {
 text-transform: uppercase;
font-family: 'Dosis', sans-serif;
font-weight: 700;
 color: #FFF;
}
#userform #signup .form-group label {
    position: relative;
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}
#userform #signup .form-group label .req {
    margin: 2px;
    color: #000;
}
#userform #signup .form-group label.active {
  =
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}
#userform #signup .form-group label.active .req {
    opacity: 0;
}
#userform label.highlight {
    color: #ffffff;
}
#userform #login .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}
#userform #login .form-group label .req {
    margin: 2px;
    color: #F7CA18;
}
#userform #login .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}
#userform #login .form-group label.active .req {
    opacity: 0;
}

.mrgn-30-top {
    margin-top: 30px
}

